In [1]:
import pandas as pd
import numpy as np
import math
from sklearn import linear_model,ensemble,tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

def file_reader(file_location):
    if(file_location.endswith('csv')):
        return pd.read_csv( file_location , engine = 'python', index_col=0)
    elif (file_location.endswith('tsv')):
        return pd.read_csv( file_location , engine = 'python' ,sep = '\t')
    
def year_str2float(year_quarter):
    if ( year_quarter.endswith('Q1') ):
        return int(year_quarter[:-2]) + 0.25
    elif( year_quarter.endswith('Q2') ):
        return int(year_quarter[:-2]) + 0.50
    elif( year_quarter.endswith('Q3') ):
        return int(year_quarter[:-2]) + 0.75
    elif( year_quarter.endswith('Q4') ):
        return int(year_quarter[:-2]) + 1.00
    
def get_data(country):
    x        = []
    timeline = [ year_str2float(val) for val in dfx['above65.csv'].index ]
    x.append( timeline )
    for str in strlist:
        x.append( dfx[str][country] )
    y        = dfy[country]
    x        = np.array(x).T
    return x,y

def model_fit(x,y):
    from sklearn import linear_model
    #model = linear_model.LinearRegression()
    model    = ensemble.RandomForestRegressor(n_estimators=4, criterion ='mse', random_state = 0)
    #model    = tree.DecisionTreeRegressor(random_state=0)
    model.fit(x, y)
    print('R2 Train Score :' ,model.score(x, y), end ='\t')
    return model

In [2]:
strlist = [
    'above65.csv',
    #'area.csv',
    #'literacy_rate.csv',
    'corona_cases.csv',
    'mobile_users.csv',
    'total_pop.csv',
    'unemployed.csv'
    
      ]

In [3]:
dfx = {}
for str in strlist:
    dfx[str] = file_reader('dataset/'+str)
dfy = file_reader('dataset/gdp_change.csv')
countries = file_reader('dataset/Downloaded Dataset/countries.csv')

In [4]:
q3preds = []
#q4preds = []
for country in countries['Country']:
    print(country , end ='\t')
    x,y                          = get_data(country)
    print(x.shape,y.shape)
    xtrain, xtest, ytrain, ytest = train_test_split( x[:-1], y, test_size=0.3, random_state=0)
    model                        = model_fit(xtrain,ytrain)
    
    preds = model.predict(x[-2:])
    q3preds.append( preds[0] )
    #q4preds.append( preds[1] )
    print('R2 Test Score :' , model.score(xtest, ytest) , end ='\t')
    print('\n MSE : ',mean_squared_error(ytest, model.predict(xtest)))
    print('\n')

Australia	(83, 6) (82,)
R2 Train Score : 0.8585292943354993	R2 Test Score : 0.6293651183856511
 MSE :  2.411735529402625


Brazil	(83, 6) (82,)
R2 Train Score : 0.9005223159584426	R2 Test Score : 0.6280953701676386
 MSE :  7.346197238441373


Canada	(83, 6) (82,)
R2 Train Score : 0.8913070722974032	R2 Test Score : 0.6407402754011999
 MSE :  4.0730122434472795


United States	(83, 6) (82,)
R2 Train Score : 0.8728827014734666	R2 Test Score : 0.7435458310710372
 MSE :  0.8180067467896278


United Kingdom	(83, 6) (82,)
R2 Train Score : 0.8026839641600274	R2 Test Score : 0.5868740907724765
 MSE :  0.8596967646446925


France	(83, 6) (82,)
R2 Train Score : 0.8228294290595949	R2 Test Score : 0.5870479653186911
 MSE :  1.3763156604505975


Spain	(83, 6) (82,)
R2 Train Score : 0.8645421251108338	R2 Test Score : 0.9813923462027205
 MSE :  0.25900311451718794


India	(83, 6) (82,)
R2 Train Score : 0.897113193961287	R2 Test Score : 0.7987355540304046
 MSE :  5.693079571866398


Singapore	(83, 6) (82,)
R2 Train Score : 0.8186129294810627	R2 Test Score : 0.3544364066333803
 MSE :  34.91302441035733


Thailand	(83, 6) (82,)
R2 Train Score : 0.8624738885264085	R2 Test Score : 0.38515264894057755
 MSE :  8.666134788280257


China	(83, 6) (82,)
R2 Train Score : 0.9221804804174113	R2 Test Score : 0.8147563150180905
 MSE :  4.180548077509511


Greece	(83, 6) (82,)
R2 Train Score : 0.9243594262125829	R2 Test Score : 0.7636650598527224
 MSE :  6.813831135939415

In [5]:
predicted = dfy
predicted = predicted[countries['Country']].T

In [6]:
predicted['2020Q3_Predicted'] = q3preds
#predicted['2020Q4'] = q4preds

In [7]:
predicted[['2020Q1','2020Q2','2020Q3_Predicted']]

Year/Quarter       2020Q1     2020Q2  2020Q3_Predicted
Australia        3.342654  -5.848295          0.312897
Brazil          -1.500000  -9.600000         -3.016573
Canada           1.432935 -11.300000         -3.917316
United States    2.006274  -5.000000          0.105028
United Kingdom   0.645599 -13.549770         -4.747919
France          -3.200245 -15.594570         -6.518146
Spain           -2.642289 -20.632573         -7.573589
India          -22.569823  -7.000000          1.366490
Singapore       -0.800000 -13.200000         -3.519417
Thailand        -1.328246 -14.488241         -4.906685
China           -6.800000   3.200000          6.084559
Greece          -2.742718 -17.112160         -7.683863

In [8]:
predicted

Year/Quarter,2000Q1,2000Q2,2000Q3,2000Q4,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,...,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3_Predicted
Australia,7.905610,8.007689,8.683877,6.296772,6.076251,5.600541,5.220170,7.898355,6.673813,8.041502,...,5.361317,5.239769,5.697922,5.110091,5.281933,5.578619,3.967600,3.342654,-5.848295,0.312897
Brazil,10.475574,8.961231,12.684058,8.930020,12.834764,10.565646,7.649390,8.286560,9.545513,13.480411,...,4.349215,5.417003,4.491659,4.092506,5.344249,6.055222,0.200000,-1.500000,-9.600000,-3.016573
Canada,10.151551,10.665393,9.627569,8.603572,7.525264,4.644818,1.444390,0.755059,0.438179,3.419059,...,4.076361,4.655842,2.276588,2.854373,4.065056,2.773405,4.680013,1.432935,-11.300000,-3.917316
United States,6.799223,7.574226,6.362938,5.173407,4.625993,3.381545,2.842098,2.108915,2.695326,2.554620,...,5.716739,5.446555,4.861555,4.703375,4.262985,3.736660,3.882013,2.006274,-5.000000,0.105028
United Kingdom,5.291923,6.534033,5.377616,4.449794,4.236076,3.766394,4.007571,3.502945,3.101286,4.219256,...,3.748395,4.085593,3.622510,4.359471,3.040393,3.380932,2.795238,0.645599,-13.549770,-4.747919
France,5.936414,5.434401,5.259660,5.525301,4.895950,4.056035,3.828073,3.383107,2.805922,3.311369,...,2.508434,2.785658,2.797951,2.608123,3.170554,3.184324,2.085390,-3.200245,-15.594570,-6.518146
Spain,9.039348,8.703806,8.933637,8.369417,8.310143,8.334152,8.177719,8.005877,6.730660,7.542251,...,3.714343,3.375442,3.791154,4.087432,3.478398,2.866076,3.070861,-2.642289,-20.632573,-7.573589
India,19.451540,19.740245,20.028951,20.317656,20.606361,20.895067,21.183772,21.472477,21.761182,22.049888,...,11.402087,11.356821,7.885378,8.063873,5.870759,7.386146,7.526546,-22.569823,-7.000000,1.366490
Singapore,12.842562,10.639579,14.635819,14.711654,8.348665,0.324593,-8.188630,-10.265148,-2.195160,2.848418,...,8.086167,9.440776,4.881951,4.236163,1.252125,0.165624,-2.054059,-0.800000,-13.200000,-3.519417
Thailand,5.297996,6.514906,5.115894,6.451742,5.659506,7.566549,5.628328,3.051865,6.263132,7.055270,...,6.562177,5.436181,5.038698,4.141287,3.741258,2.751365,1.908975,-1.328246,-14.488241,-4.906685
China,10.164292,11.478739,11.547105,9.819477,12.923174,11.159819,10.192708,8.640385,9.169490,9.234994,...,10.100322,9.375186,9.145553,7.837914,8.301542,7.568602,6.000000,-6.800000,3.200000,6.084559
Greece,7.360873,6.266548,6.039490,3.048104,8.689753,7.343726,7.866742,7.195592,6.415333,8.570260,...,1.899245,3.250408,2.076334,1.589624,3.240318,1.699101,-0.590677,-2.742718,-17.112160,-7.683863